p img, li img{
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 2px;
    border: 5px #eee solid; 
    border-radius: 10px;
}

table img,
.img_inline{
    margin: 0px;
    padding: 0px;
    border: 0px #eee solid; 
    border-radius: 0px;
}

.md-typeset__table{
    margin-left: 50px;
}


.md-typeset__table th, .md-typeset__table td{
    text-align: left;
}